*{
   margin:0; 
   padding: 0;
}

h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

h2{
    font: bold 14px sans-serif;
}

header, section, footer, nav, aside, article{
    display: block;
}

body{
    text-align: center;
}

.agrupar{
    width: 960px;
    border: 1px solid black;
    margin: 15px auto;
}

.cabecera{
    background: red;
    border: 1px solid #999999;
    padding: 20px;
}

.cabecera h1{
    text-align: left;
}

.menu{
    background: cyan;
    padding: 5px 15px;
    text-align: left;
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

article{
    background: greenyellow;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 15px;
}

article footer {
    text-align: right;
}

.seccion{
    margin: 20px;
    width: 600px;
    float: left;
}

img{
    height: 200px;
    width: 200px;
}

.columna{
    margin: 20px 0;
    width: 300px;
    float: left;
}

.columna blockquote{
    border: 1px solid black;
    padding: 40px;
    background: burlywood;
    margin-bottom: 20px;

}

.pie{
    clear: both;
    padding: 20px;
    background: yellow;
}